html {
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
}

body {
    min-height: 100%;
    color: pink;
    font-size: 1.4rem;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}


.player {
    background: black;
    padding: 2rem;
    border-radius: 2rem;
}

img {
    width: 50%;
}
/* 
#controls {
    border: 1px lightslategray solid;
    border-radius: 1rem;
    padding: 1.6rem;
} */

.control-wrapper > span {
    cursor: pointer;
    /* color: lightslategray; */
    font-size: 3rem;
    padding: 0.5rem;
}

#current-song {
    overflow: hidden;
      text-align: center;
}

#playlist {
    overflow: hidden;
    text-align: left;
}

li {
    cursor: pointer;
    padding: 1.5rem;
}

li:hover {
    color: white;
}

a {
    color: linear-gradient(255,0,0,0);
}

progress {
    width: 50%;
    height: 2rem;
    margin-bottom: 1rem;
}

@media(min-width: 800px) {
    body {
        max-width: 60vw;
        font-size: 14px;
    }
.pulse {
    animation: pulse;
    animation-duration: 0.4s;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9)
    }
    to {
        transform: scale(1);
    }
}

}